* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #a6d7eb;
  height: 50px;
  display: flex;
  align-items: center;
}
.menuIcon {
  margin-left: 20px;
}

.lineBar {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 3px 0;
}
